body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* light blue background color */
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-preview img {
    width: 100px;
    height: 100px;
    margin: 5px;
}
  